
  {% extends "base.html" %}

<body>
    {% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-10 col-sm-8 col-md-6 col-lg-4" action="{{ url_for('create_feedback') }}" method='post'>
                <div class="form-group">
                    <h1>{{ title }}</h1>
                      <div class="col-md">
                        <div class="form-floating">
                          <select class="form-select" id="aptSelect" name="apt">
                              {% for apt in apartments %}
                                <option value="{{ apt.address }}">{{ apt.address }}</option>
                              {% endfor %}
                          </select>
                          <label for="aptSelect">Адрес</label>
                        </div>
                      </div>
                    <p>
                        {{ form.raiting.label }}
                        {{ form.raiting() }}
                    </p>
                    <p>
                        {{ form.price.label }}
                        {{ form.price() }}
                    </p>
                    <p>
                        {{ form.text.label }}
                        {{ form.text() }}
                    </p>
                    <p>
                        <form>
                          <div class="form-group">
                            <label>Прикрепите фото</label>
                              <p>
                                  {{ form.photo() }}
                              </p>
                          </div>
                        </form>
                    </p>
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
