<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
<body>
    {% include 'base.html' %}

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-10 col-sm-8 col-md-6 col-lg-4" action="{{ url_for('create_feedback') }}" method='post'>
                <div class="form-group">
                    <h1>{{ title }}</h1>
                      <div class="col-md">
                        <div class="form-floating">
                          <select class="form-select" id="aptSelect" name="apt">
                              {% for apt in apartments %}
                                <option value="{{ apt.address }}">{{ apt.address }}</option>
                              {% endfor %}
                          </select>
                          <label for="aptSelect">Адрес</label>
                        </div>
                      </div>
                    <p>
                        {{ form.raiting.label }}
                        {{ form.raiting() }}
                    </p>
                    <p>
                        {{ form.price.label }}
                        {{ form.price() }}
                    </p>
                    <p>
                        {{ form.text.label }}
                        {{ form.text() }}
                    </p>
                    <p>
                        <form>
                          <div class="form-group">
                            <label>Прикрепите фото</label>
                              <p>
                                  {{ form.photo() }}
                              </p>

                          </div>
                        </form>
                    </p>
                    {{ form.submit }}
                </div>

            </form>
        </div>
    </div>

</body>
</html>