{% extends "base.html" %}
  <body>
    {% block content %}
      <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
          {% endwith %}
          <form class="col-10 col-sm-8 col-md-6 col-lg-4" action="{{ url_for('process_login') }}" method="POST">
            {{ forma.hidden_tag() }}
            <h1>{{ title }}</h1>
            <div class="form-group">
              <p>
                <label id="inputEmail" class="visually-hidden">{{ forma.email.label }}</label>
                {{ forma.email(class="form-control", id="inputEmail", type="email", placeholder="Email Address") }}
              </p>
            </div>
            <div class="form-group">
              <p>
                <label id="inputPassword" class="visually-hidden">{{ forma.password.label }}</label>
                {{ forma.password(class="form-control", id="inputPassword", type="password", placeholder="Password") }}
              </p>
            </div>
            <div class="form-group">
              <p>
                {{ forma.remember_me(class_="form-check-label") }}
                {{ forma.remember_me.label }}
              </p>
            </div>
            <div class="form-group">
              {{ forma.submit }}
              <a href="/register">
                <button type="button" class="btn btn-lg btn-primary btn-block">
                  Регистрация
                </button>
              </a>
            </div>
          </form>
        </div>
      </div>
    {% endblock %}
  </body>
</html>